# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/app/.cxx/
android/app/build/

# 临时文件
*.log
